*{
    box-sizing: border-box;
}
.row{
    padding: 0;
    margin: 0 auto;
    border: 0;
}
/* Clearfix for the grid gaps */
.row::before, .row::after{
    display: table;
    content: '';
}
.row::after{
    clear: both;
}
/* Dividing the site into quarters, halves, and further! */
.col-3,.col-6,.col-9,.col-12{
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}
/* This should be fixed later but if the screen is smaller than 640px it'll default to making every column 100% wide */
.col-3,.col-6,.col-9,.col-12{
    width: 100%;
}
/* 640px< 1000px */
@media only screen and (min-width: 640px){
    .col-3{
        width: 25%;
        max-width: 300px;
    }
    .col-6{
        width: 50%;
    }
    .col-9{
        width: 75%;
    }
    .col-12{
        width: 100%;
    }
}
/* If you want a full screen experience ignore this but otherwise use it!*/
/* @media only screen and (min-width: 1000px){
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
} */