.hidden{
    display: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background: #999999;
}
.navigation{
    margin: 0;
    padding: 0;
}
/* Sections */
.page{
    margin: 0;
    width: 100%;
    height: 100vh;
}
h1,h2,p{
    margin: 0;
    text-align: center;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
p{
    padding: 1em;
    width: 75%;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
/* Nav links */
ul{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
    margin: 0;
    width: 300px;
    text-align: center;
    padding: 1em;
    font-size: 2em;
}
li:hover {
    background-color: #666666;
}
.nav-button{
    height: 12.5vh;
}